<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Company-details</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="page/fragments.html :: page-header"/>

<div class="card">
  <div class="card-header bg-dark text-light">
    Организация
  </div>
  <div th:if="${company != null}" class="card-body">
    <h5 class="card-title">[[${company.name}]] (id [[${company.id}]])</h5>
    <p class="card-text">Сфера деятельности - [[${company.field}]]
      <br><br>
      Эл.почта: [[${company.email}]],
      <br>
      Сайт: <a th:href="@{'http://' + ${company.website}}">[[${company.website}]]</a></p>
    <a th:href="@{/company}" class="btn btn-primary">Обратно к компаниям</a>
  </div>

  <div th:if="${company == null}" class="card-body">
    <h5 class="card-title bg-danger text-light">Компания не найдена</h5>
    <p class="card-text">Указан неверный id компании</p>
    <a th:href="@{/company}" class="btn btn-primary">Обратно к компаниям</a>
  </div>
</div>

<th:block th:replace="page/fragments.html :: page-footer"/>
</body>
</html>