<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Company-list</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="page/fragments.html :: page-header"/>

<div class="container-fluid text-center">
  <table class="table table-bordered">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Название:</th>
      <th>Сфера деятельности:</th>
      <th>Email:</th>
      <th>Сайт:</th>
      <th>Действие:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="company: ${companies}">
      <td>[[${company.id}]]</td>
      <td>
        <a th:href="@{'/company/' + ${company.id}}">[[${company.name}]]</a>
      </td>
      <td>[[${company.field}]]</td>
      <td>[[${company.email}]]</td>
      <td><a th:href="@{'http://' + ${company.website}}">[[${company.website}]]</a></td>
      <td>
        <a th:href="@{'/company/update/' + ${company.id}}" class="btn btn-primary">Редактировать</a>
        <a th:href="@{'/company/delete/' + ${company.id}}" class="btn btn-danger">Удалить</a>
      </td>
    </tr>
    <tr th:if="${companies == null}">
      <td colspan="4">Нет записей</td>
    </tr>
    </tbody>
  </table>
  <div>
      <a th:href="@{/company/new}" class="btn btn-success form-control">Зарегистрировать компанию</a>
  </div>
</div>

<th:block th:replace="page/fragments.html :: page-footer"/>
</body>
</html>