<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Company-list</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="page/fragments.html :: page-header"/>

<div class="container-fluid text-center">
  <table class="table table-bordered">
    <thead class="table-dark">
    <tr>
      <th sec:authorize="hasRole('ADMIN')" class="text-success">ID</th>
      <th>Название:</th>
      <th>Email:</th>
      <th>Сайт:</th>
      <th sec:authorize="hasRole('ADMIN')" class="text-success">Действия:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="company: ${companies}">
      <td sec:authorize="hasRole('ADMIN')">[[${company.id}]]</td>
      <td>
        <a th:href="@{'/company/' + ${company.id}}">[[${company.name}]]</a>
      </td>
      <td>[[${company.email}]]</td>
      <td>
        <a th:href="@{'http://' + ${company.website}}">[[${company.website}]]</a>
      </td>
      <td sec:authorize="hasRole('ADMIN')" class="text-success">
        <a th:href="@{'/company/update/' + ${company.id}}" class="btn btn-primary">Редактировать</a>
        <a th:href="@{'/company/delete/' + ${company.id}}" class="btn btn-danger">Удалить</a>
      </td>
    </tr>
    <tr th:if="${companies == null}">
      <td colspan="5">Нет записей</td>
    </tr>
    </tbody>
  </table>
  <div>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/company/new}" class="btn form-control btn-dark text-success">Зарегистрировать компанию</a>
  </div>
</div>

<th:block th:replace="page/fragments.html :: page-footer"/>
</body>
</html>