<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Survey-form</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-sm align-content-center text-center">
  <h1>Укажите данные вашего опроса:</h1>
  <form method="post" th:action="@{/survey/new}" th:object="${survey}">
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="name">Название опроса: </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="name" th:field="*{name}" required minlength="1">
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="field">Сфера деятельности: </label>
      <div class="col-sm-10">
        <select class="form-select" id="field" th:field="*{field}">
          <option th:value="Наука">Наука</option>
          <option th:value="Искусство">Искусство</option>
          <option th:value="Культура">Культура</option>
          <option th:value="Здоровье">Здоровье</option>
          <option th:value="Экономика">Экономика</option>
          <option th:value="Прочее">Прочее</option>
        </select>
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="description">Описание (не обязательно): </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="description" th:field="*{description}">
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="company">Компания-инициатор: </label>
      <div class="col-sm-10">
        <select class="form-select" id="company" th:field="*{company}">
          <option th:each="company : ${companies}" th:value="${company.id}">
            [[${company.name}]]
          </option>
        </select>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <button class="btn btn-success form-control">Создать</button>
      </div>
      <div class="col-sm-5">
        <a th:if="${initiator == true}" th:each="company : ${companies}" th:value="${company.id}" th:href="@{'/company/' + ${company.id}}" class="btn btn-danger form-control">К компании инициатору</a>
        <a th:if="${initiator == false}" th:href="@{/survey}" class="btn btn-danger form-control">Отмена</a>
      </div>
    </div>
    <div>
      <a th:href="@{/survey}" class="btn btn-dark text-success">К списку опросов</a>
    </div>
  </form>
</div>

<th:block th:replace="page/fragments.html :: page-footer"/>
</body>
</html>