<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Survey-list</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="page/fragments.html :: page-header"/>

<div class="container-fluid text-center">
  <h1>Список опросов для прохождения</h1>
  <p th:if="${errorMessage != null}" class="alert alert-danger">
    [[${errorMessage}]]
  </p>
  <p th:if="${successMessage != null}" class="alert alert-success">
    [[${successMessage}]]
  </p>
  <table class="table table-bordered">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Название:</th>
      <th>Действие:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="survey: ${surveys}">
      <td>[[${survey.id}]]</td>
      <td>
        <a th:href="@{'/survey/' + ${survey.id}}">[[${survey.name}]]</a>
      </td>
      <td>
        <a th:href="@{'/survey/update/' + ${survey.id}}" class="btn btn-primary">Редактировать</a>
        <a th:href="@{'/survey/delete/' + ${survey.id}}" class="btn btn-danger">Удалить</a>
      </td>
    </tr>
    <tr th:if="${surveys == null}">
      <td colspan="4">Нет записей</td>
    </tr>
    </tbody>
  </table>
  <div>
    <a th:href="@{/survey/new}" class="btn btn-success form-control">Создать опрос</a>
  </div>
</div>

<th:block th:replace="page/fragments.html :: page-footer"/>
</body>
</html>