<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Survey-list</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="page/fragments.html :: page-header"/>

<div class="container-fluid text-center">
  <table class="table table-bordered">
    <thead class="table-dark">
    <tr>
      <th>id</th>
      <th>Прохождение:</th>
      <th>Сфера:</th>
      <th>Опросы:</th>
      <th>Описание:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="survey: ${surveys}">
      <td class="col-1">[[${survey.id}]]</td>
      <td class="col-1">
        <a th:if="${survey.isActive == true}" th:href="@{'/survey/take-survey/' + ${survey.id}}" class="btn btn-success">Пройти</a>
        <a th:if="${survey.isActive == false}" class="btn btn-danger" disabled>Недоступно</a>
      </td>
      <td>[[${survey.field}]]</td>
      <td class="col-4">
        <a th:href="@{'/survey/' + ${survey.id}}">[[${survey.name}]]</a>
         от компании
        <a th:href="@{'/company/' + ${survey.company.id}}">[[${survey.company.name}]]</a>
      </td>
      <td class="col-6">[[${survey.description}]]</td>
    </tr>
    <tr th:if="${surveys == null}">
      <td colspan="3">Нет записей</td>
    </tr>
    </tbody>
  </table>
</div>

<th:block th:replace="page/fragments.html :: page-footer"/>
</body>
</html>