<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Take-list</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="page/fragments.html :: page-header"/>

<div class="text-center">
  <p>[[${survey.description}]]</p>
  <table class="table table-bordered">
    <thead class="table-dark">
    <tr>
      <th sec:authorize="hasRole('ADMIN')" class="text-success">ID</th>
      <th>Варианты ответа:</th>
      <th sec:authorize="isAuthenticated()">Рейтинг:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="objectSurv: ${survey.objectSurvs}">
      <td sec:authorize="hasRole('ADMIN')">[[${objectSurv.id}]]</td>
      <td th:href="@{'/objectSurv/' + ${objectSurv.id}}">
        <h3 class="text-success">[[${objectSurv.name}]]</h3>
      </td>
      <td th:href="@{'/objectSurv/' + ${objectSurv.id}}">
        <h4 class="text-warning">[[${objectSurv.rating}]]</h4>
        <form sec:authorize="isAuthenticated()" method="post" th:action="@{'/objectSurv/upRating/' + ${objectSurv.id}}" th:object="${objectSurv}">
          <button class="btn btn-primary form-control">Проголосовать за "[[${objectSurv.name}]]"</button>
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <a th:href="@{'/survey/' + ${survey.id}}" class="btn btn-danger form-control">Отмена</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<th:block th:replace="page/fragments.html :: page-footer"/>
</body>
</html>