<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Client-details</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="page/fragments.html :: page-header"/>
<div>
<div class="card">
  <div class="card-header bg-dark text-light">
    Профиль пользователя&nbsp;
    <a th:href="@{'/client/update/' + ${client.id}}" class="btn btn-warning btn-sm">ред.</a>
  </div>
  <div th:if="${client != null}" class="card-body">
    <div class="card-title d-flex">
      <h5>[[${client.name}]]&nbsp;</h5>
      <h5 sec:authorize="hasRole('ADMIN')" class="bg-dark text-success rounded-3">client.id - [[${client.id}]]</h5>
    </div>
    <p class="card-text">
    <p>Пол - [[${client.gender}]]</p>
    <p></p>
    <p class="text-secondary">Зарегистрирован: [[${client.getFormattedRegistrationDate()}]]</p>
    </p>
    <a th:href="@{'/client/delete/' + ${client.id}}" class="btn btn-danger">Удалить профиль</a>
  </div>

  <div th:if="${client == null}" class="card-body">
    <h5 class="card-title bg-danger text-light">Пользователь не найден</h5>
    <p class="card-text">Указан неверный id пользователя</p>
    <a th:href="@{/}" class="btn btn-primary">На главную</a>
  </div>
</div>
</div>
<th:block th:replace="page/fragments.html :: page-footer"/>
</body>
</html>