<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>User-list</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="page/fragments.html :: page-header"/>

<div class="container-fluid text-center">
  <table class="table table-bordered">
    <thead class="table-dark">
    <tr>
      <th class="text-success">ID</th>
      <th>Логин:</th>
      <th>Роль (права):</th>
      <th>Дата регистрации:</th>
      <th class="text-success">Действие:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
      <td>[[${user.id}]]</td>
      <td>
        <a th:href="@{'/user/' + ${user.id}}">[[${user.login}]]</a>
      </td>
      <td>[[${user.role}]]</td>
      <td>[[${user.client.getFormattedRegistrationDate()}]]</td>
      <td class="text-success">
        <a th:href="@{'/client/update/' + ${client.id}}" class="btn btn-primary">Редактировать</a>
        <a th:href="@{'/client/delete/' + ${client.id}}" class="btn btn-danger">Удалить</a>
      </td>
    </tr>
    <tr th:if="${clients == null}">
      <td colspan="5">Нет записей</td>
    </tr>
    </tbody>
  </table>
</div>

<th:block th:replace="page/fragments.html :: page-footer"/>
</body>
</html>