<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home-index</title>
  <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="page/fragments.html :: page-header"/>

<div class="container-fluid text-center">

    <div>
        <h3>Добро пожаловать!</h3>
        <h2>Здесь вы сможете выразить своё мнение по актуальным и "острым" вопросам.</h2>
        <h4 sec:authorize="!isAuthenticated()" class="text-warning">Для прохождения авторизируйтесь (либо зарегистрируйтесь для авторизации) - кнопка в верхнем правом углу.</h4>
        <h4 sec:authorize="isAuthenticated()" class="text-warning">Вы авторизированы. Для начала прохождения воспользуйтесь навигационной панелью в левом верхнем углу.</h4>
    </div>
</div>

<th:block th:replace="page/fragments.html :: page-footer"/>
</body>
</html>