<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Object-list</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="page/fragments.html :: page-header"/>

<div class="container-fluid text-center">
  <table class="table table-bordered">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Опрос-контейнер:</th>
      <th>название объекта:</th>
      <th>рейтинг:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="objectSurv: ${objectSurvs}">
      <td>[[${objectSurv.id}]]</td>
      <td>
        <a th:href="@{'/survey/' + ${objectSurv.survey.id}}">[[${objectSurv.survey.name}]]</a>
      </td>
      <td>[[${objectSurv.name}]]</td>
      <td>[[${objectSurv.rating}]]</td>
    </tr>
    <tr th:if="${objectSurvs == null}">
      <td colspan="4">Нет записей</td>
    </tr>
    </tbody>
  </table>
</div>

<th:block th:replace="page/fragments.html :: page-footer"/>
</body>
</html>