<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Fragments-for-page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<header  th:fragment="page-header" class="p-1 text-bg-dark mb-1">
  <div>
    <div class="container mb-1">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a th:href="@{/}" class="btn btn-warning">Главная</a></li>
          <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/client}" class="nav-link px-2 text-success">Пользователи</a></li>
          <li><a th:href="@{/survey}" class="nav-link px-2 text-white">Перечень опросов</a></li>
          <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/objectSurv}" class="nav-link px-2 text-success">Перечень объектов</a></li>
          <li class="nav-item"><a th:href="@{/company}" class="nav-link px-2 text-white">Перечень компаний</a></li>
        </ul>

        <!--<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 text-end" role="search">
          <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Поиск">
        </form>-->
        <a class="col-sm-2 text-warning" th:href="@{/user-details}" sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}"></a>

        <div class="text-end d-flex">
          <div>&nbsp;</div>
          <form sec:authorize="isAuthenticated()" class="d-flex" role="search" method="post" th:action="@{/logout}">
            <button class="btn btn-warning">Выйти</button>
          </form>
          <a sec:authorize="!isAuthenticated()" th:href="@{/login}" type="button" class="btn btn-warning">Авторизация</a>
        </div>
      </div>
      <div sec:authorize="hasRole('ADMIN')" class="container-fluid text-center">
        <h6 class="text-danger">ВНИМАНИЕ!</h6>
        <h6 class="text-success">Вы находитесь в режиме АДМИНистратора</h6>
        </div>
    </div>

  </div>
</header>

<footer th:fragment="page-footer" class="fixed-bottom bg-dark">
  <div class="container-fluid text-center">
    <p th:if="${errorMessage != null}" class="alert alert-danger">
      [[${errorMessage}]]
    </p>
    <p th:if="${successMessage != null}" class="alert alert-success">
      [[${successMessage}]]
    </p>
    <div></div>
  </div>
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white">О нас</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQ</a></li>
  </ul>
  <p class="text-center text-white">© 2023 Опрос.ру</p>
</footer>
</body>
</html>